node_modules
dist
.env
*.log
coverage
.DS_Store
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln  
.wwebjs_cache
data 
{src,config}
{src,config}/**/*
!{src,config}/**/*.ts
!{src,config}/**/*.json
!{src,config}/**/*.yaml
!{src,config}/**/*.yml